NODE_ENV=development
PORT=8080

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=aulafy_db
DB_USERNAME=aulafy_user
DB_PASSWORD=CAMBIAR_POR_PASSWORD_LOCAL

JWT_SECRET=CAMBIAR_POR_SECRETO_SEGURO_DE_64_CARACTERES
FRONTEND_URL=http://localhost:4200

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
